@model HOA.Model.ViewModel.PasswordViewModel
@using HOA.Model
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Change password";
}



@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <h3>Change Password</h3>

    @Html.AntiForgeryToken()

    @if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> Please fix the listed errors and try submitting again.

            @Html.ValidationSummary()
        </div>
    }

    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.OldPassword)
        </label>
        <div class="col-xs-9">
            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.Password)
        </label>
        <div class="col-xs-9">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.ConfirmPassword)
        </label>
        <div class="col-xs-9">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>

}