@using HOA.Model
@using HOA.Model.ViewModel
@model EditUserViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Edit User";
}


@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{

    <h3>Edit</h3>

    @Html.HiddenFor(model => model.UserId)

    @Html.AntiForgeryToken()


    @if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> Please fix the listed errors and try submitting again.

            @Html.ValidationSummary()
        </div>
    }


    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.FirstName)
        </label>
        <div class="col-xs-9">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @maxlength = "20" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.LastName)
        </label>
        <div class="col-xs-9">
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @maxlength = "20" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.Email)
        </label>
        <div class="col-xs-9">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @maxlength = "64" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.IsLandscaping)
        </label>
        <div class="col-xs-9">
            @Html.CheckBoxFor(model => model.IsLandscaping, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.IsAdmin)
        </label>
        <div class="col-xs-9">
            @Html.CheckBoxFor(model => model.IsAdmin, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.IsARBMember)
        </label>
        <div class="col-xs-9">
            @Html.CheckBoxFor(model => model.IsARBMember, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.IsArbChair)
        </label>
        <div class="col-xs-9">
            @Html.CheckBoxFor(model => model.IsArbChair, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.IsCommunityManager)
        </label>
        <div class="col-xs-9">
            @Html.CheckBoxFor(model => model.IsCommunityManager, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.IsHoaLiaison)
        </label>
        <div class="col-xs-9">
            @Html.CheckBoxFor(model => model.IsHoaLiaison, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.IsHoaMember)
        </label>
        <div class="col-xs-9">
            @Html.CheckBoxFor(model => model.IsHoaMember, new { @class = "form-control" })
        </div>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary" />

}