@using System.Linq
@using HOA.Model.ViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Manage users";
}


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Users</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Role</th>
                <th>Enabled</th>
                <th>Action</th>
            </tr>
        </thead>

    @foreach (var user in Model.Users)
    {
        <tr @if (!user.Enabled) { @Html.Raw("class=\"danger\"") } >
            <td>@user.UserName</td>
            <td>@user.FullName</td>
            <td>@user.Roles</td>
            <td>@user.Enabled</td>
            <td>
                @if(user.Enabled)
                {
                    <a href="/Account/DisableUser/@user.UserId">Disable</a>
                }
                else
                {
                    <a href="/Account/EnableUser/@user.UserId">Enable</a>
                }


            </td>
        </tr>
    }
    </table>
</div>

<a href="/Account/CreateUser" class="btn btn-default">Add new user <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>


