@using System.Linq
@using HOA.Model.ViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Manage users";
}


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Users</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Role</th>
                <th>Active</th>
                <th>Notifications</th>
                <th>Edit</th>
            </tr>
        </thead>

    @foreach (var user in Model.Users)
    {
        <tr @if (!user.Enabled) { @Html.Raw("class=\"danger\"") } >
            <td>@user.Email</td>
            <td>@user.FullName</td>
            <td>@user.Roles
                @if (user.LandscapingMember)
                {
                    @Html.Raw(" (Landscaping)")
                }
            </td>
            <td>
                @Html.ActionLink(user.Enabled ? "Disable" : "Enable", "Disable", new { id = user.UserId, disable = user.Enabled })
            </td>
            <td>
                @Html.ActionLink(user.DisableNotification ? "Enable" : "Disable", "DisableNotifications", new { id = user.UserId, disable = !user.DisableNotification })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = user.UserId})
            </td>
        </tr>
    }
    </table>
</div>

<a href="/Account/CreateUser" class="btn btn-default">Add new user <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>


