@model HOA.Controllers.StatsModel

@{
    ViewBag.Title = "Stats";
    ViewBag.Section = "Stats";
}

@section HeaderExtras
{
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
}



<canvas id="monthChart"></canvas>
<br />
<br />
<br />
<canvas id="stageChart"></canvas>
<br />
<br />
<br />
<canvas id="pieChart"></canvas>
<br />
<br />
<br />
<h3>Average response time</h3>

Approvals: @Model.ElapsedTime.Approved day(s)<br />
Missing Information: @Model.ElapsedTime.MissingInformation day(s)<br />
Rejections: @Model.ElapsedTime.Rejected day(s)<br />
<br />
<br />
<br />
<h3>Other stats</h3>
Total submissions: @Model.TotalSubmissions<br/>
<br />
<br />
<br />
<script>
            var MONTHS = [
            @foreach (Tuple<string, int> dat in Model.ByMonth)
            {
                @Html.Raw(string.Format("\"{0}\",", dat.Item1))
            }
            ];

    var VALUES = [
        @foreach (Tuple<string, int> dat in Model.ByMonth)
    {
                @Html.Raw(string.Format("{0},", dat.Item2))
    }

    ]

            var barChartData = {
            labels: MONTHS,
            datasets: [{
            backgroundColor: "#DBF2F2",
                data: VALUES
            }]
            };




            var config = {
                type: 'pie',
                data: {
                    datasets: [
                    {
                        data: [
                            @Html.Raw(Model.ResponseCounts.Rejected),
                            @Html.Raw(Model.ResponseCounts.Approved),
                            @Html.Raw(Model.ResponseCounts.ConditionallyApproved),
                            @Html.Raw(Model.ResponseCounts.MissingInformation)
                        ],
                        backgroundColor: [
                            "#F7464A",
                            "#46BFBD",
                            "#FDB45C",
                            "#949FB1",
                        ],
                    }],
                    labels: [
                        "Rejected",
                        "Approved",
                        "Conditionally Approved",
                        "Missing Information"
                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Final Statuses'
                    }
                },

            };



    var STAGES = ["Initial Check", "ARB Check", "Review", "Tally Votes", "HOA Check", "Final Approval"];
    var stageDays = [
        @Html.Raw(Model.DaysByCategory.CheckCompleteness),
        @Html.Raw(Model.DaysByCategory.ARBCheck),
        @Html.Raw(Model.DaysByCategory.UnderReview),
        @Html.Raw(Model.DaysByCategory.TallyVotes),
        @Html.Raw(Model.DaysByCategory.HOALiason),
        @Html.Raw(Model.DaysByCategory.PrepApproval)
    ];


    var stagesChartData = {
        labels: STAGES,
        datasets: [{
            backgroundColor: "#DBF2F2",
            data: stageDays
        }]
    };



        window.onload = function() {
            var ctx = document.getElementById("monthChart").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
            // Elements options apply to all of the options unless overridden in a dataset
            // In this case, we are setting the border of each bar to be 2px wide and green
            elements: {
                rectangle: {
                    borderWidth: 2,
                            borderColor: '#4BC0C0',
                            borderSkipped: 'bottom'
                        }
                },
                    responsive: true,
                legend: {
                    display: false,
                    },
                title: {
                    display: true,
                    text: 'Submissions by month'
                    }
            }
            });


            var ctxStages = document.getElementById("stageChart").getContext("2d");
            window.stagesBar = new Chart(ctxStages, {
                type: 'bar',
                data: stagesChartData,
                options: {
                    // Elements options apply to all of the options unless overridden in a dataset
                    // In this case, we are setting the border of each bar to be 2px wide and green
                    elements: {
                        rectangle: {
                            borderWidth: 2,
                            borderColor: '#4BC0C0',
                            borderSkipped: 'bottom'
                        }
                    },
                    responsive: true,
                    legend: {
                        display: false,
                    },
                    title: {
                        display: true,
                        text: 'Time by stage (days)'
                    }
                }
            });
            


            var ctxPie = document.getElementById("pieChart").getContext("2d");
            window.myPie = new Chart(ctxPie, config);



        };
</script>
