@using HOA.Model
@using HOA.Util

<!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Submitted</th>
                <th>Address</th>
                <th>Status</th>
                <th>Last Modified</th>
                <th>Time Open</th>
                <th>Action</th>
            </tr>
        </thead>

        @if (Model != null && Model.Count > 0)
        {
            foreach (var submission in Model)
            {
                <tr>
                    <td>@submission.Code</td>
                    <td>
                    @HOA.Util.DateHtmlHelper.ConvertToLocalDate(submission.SubmissionDate, "MM/dd/yyyy")
                    </td>
                    <td>@submission.Address</td>
                    <td>
                        
                        @PageUtils.GetStatusDisplay(submission.Status)
                        
                        @if ((submission.Status == Status.Approved || submission.Status == Status.ConditionallyApproved) && submission.ResponseDocumentBlob == null)
                        {
                            @:(Missing attachment)
                        }

                    </td>
                    <td>
                        @HOA.Util.DateHtmlHelper.ConvertToLocalDate(submission.LastModified, "g")
                    </td>
                    <td>@submission.ElapsedTime.ToString("%d") day(s)</td>
                    <td><a href="/Submission/View/@submission.Id">View</a></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">No submissions</td>
            </tr>
        }
    </table>