@using HOA.Model

<!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Submitted</th>
                <th>Address</th>
                <th>Status</th>
                <th>Last Modified</th>
                <th>Time Open</th>
                <th>Action</th>
            </tr>
        </thead>

        @if (Model != null && Model.Count > 0)
        {
            foreach (var submission in Model)
            {
                <tr>
                    <td>@submission.Code</td>
                    <td>
                    @HOA.Util.DateHtmlHelper.ConvertToLocalDate(submission.SubmissionDate, "MM/dd/yyyy")
                    </td>
                    <td>@submission.Address</td>
                    <td>
                        
                        @if (submission.Status == Status.CommunityMgrReview)
                        {
                            @:Submitted
                        }
                        else if (submission.Status == Status.ARBChairReview)
                        {
                            @:ARB Chair Check
                        }
                        else if (submission.Status == Status.CommitteeReview)
                        {
                            @:Being reviewed
                        }
                        else if (submission.Status == Status.ARBTallyVotes)
                        {
                            @:Tallying votes
                        }
                        else if (submission.Status == Status.HOALiasonReview)
                        {
                            @:Sent to HOA Liaison
                        }
                        else if (submission.Status == Status.FinalResponse)
                        {
                            @:Preparing approval response
                        }
                        else if (submission.Status == Status.CommunityMgrReturn)
                        {
                            @:Returning to homeowner
                        }
                        else if (submission.Status == Status.HOALiasonInput)
                        {
                            @:HOA Liason input required
                        }
                        else if (submission.Status == Status.Rejected)
                        {
                            @:Rejected
                        }
                        else if (submission.Status == Status.MissingInformation)
                        {
                            @:Missing Information
                        }
                        else if (submission.Status == Status.Approved)
                        {
                            @:Approved
                            if (submission.FinalApprovalBlob == null)
                            {
                                @:(Missing attachment)
                            }
                        }
                        else if (submission.Status == Status.ConditionallyApproved)
                        {
                            @:Conditionally Approved
                            if (submission.FinalApprovalBlob == null)
                            {
                                @:(Missing attachment)
                            }
                        }
                        else if (submission.Status == Status.Retracted)
                        {
                            @:Retracted
                        }

                    </td>
                    <td>
                        @HOA.Util.DateHtmlHelper.ConvertToLocalDate(submission.LastModified, "g")
                    </td>
                    <td>@submission.ElapsedTime.ToString("%d") day(s)</td>
                    <td><a href="/Submission/View/@submission.Id">View</a></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">No submissions</td>
            </tr>
        }
    </table>