@model HOA.Model.ViewModel.CreateSubmissionViewModel

@{
    ViewBag.Title = "New submission";
}

@section HeaderExtras
{
<script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })


        function ValidateCheckboxes()
        {

        var allChecked = true;
        $('input[type="checkbox"]').each(function() {
            if (!$(this).is(":checked")) {
                allChecked = false;
            }
        });

        if(!allChecked)
            alert("You must agree to all the requirements");

        return allChecked;
        }

</script>
}

@using (Html.BeginForm("Create", "Submission", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{

<h3>Create</h3>

@Html.AntiForgeryToken()

@if (!Html.ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> Please fix the listed errors and try submitting again.
        
        @Html.ValidationSummary()
    </div>
}

<div class="form-group">
    <label class="control-label col-xs-3">
        @Html.LabelFor(model => model.FirstName)
    </label>
    <div class="col-xs-9">
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @maxlength = "32" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-3">
        @Html.LabelFor(model => model.LastName)
    </label>
    <div class="col-xs-9">
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @maxlength = "32" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-3">
        @Html.LabelFor(model => model.Address)
    </label>
    <div class="col-xs-9">
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @maxlength = "64" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-3">
        @Html.LabelFor(model => model.Email)
    </label>
    <div class="col-xs-9">
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @maxlength = "64" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-3">
        @Html.LabelFor(model => model.Description)
    </label>
    <div class="col-xs-9">
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @maxlength = "256" })
        <h5>e.g. Patio, Fence, Deck, etc.</h5>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-3">
        File(s)
    </label>
    <div class="col-xs-9">
        <input type="file" name="Files" id="Files" multiple /> <br />
        Make sure any scanned documents or pictures are legible.<br />
        You can upload extra files by selecting multiple items in the file dialog.
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-3">
        <label>Requirements</label>
    </label>
    <div class="col-xs-9">
        <a href="/Applecross-RULES-11-29-16.pdf" target="_blank">Rules and Regulations</a><br />
        <br>
        <input type="checkbox" id="req1" value="value">
        <label for="req1" data-toggle="tooltip" data-placement="top">
            Copy of As-Built or Plot Plan for Your Lot
        </label>
        <br>
        Show the exact location and dimensions of the proposed improvement indicated on the drawing.  The as built plan is used to show the relationship between your planned improvement and any property lines, swales, or easements.
        <br>
        <br>
        <input type="checkbox" id="req2" value="value">
        <label for="req2" data-toggle="tooltip" data-placement="top">
            Completed Architectural Request Form (<a href="/ArchitecturalRequestForm.docx" target="_blank">Form</a>)
        </label>
        <br>
        Fully complete the Request for Architectural Change form and sign.  This form is available from Josh Rozzi.
        <br>
        <br>
        <input type="checkbox" id="req3" value="value">
        <label for="req3" data-toggle="tooltip" data-placement="top">
            List of Materials to be Used
        </label>
        <br>
        Include a list of all materials intended for use in this project including types of plants if applicable.
        <br>
        <br>
        <input type="checkbox" id="req4" value="value">
        <label for="req4" data-toggle="tooltip" data-placement="top">
            Signed Indemnification Form (<a href="/IndemnificationForm.docx" target="_blank">Form</a>)
        </label>
        <br>
        Please complete the Applecross Country Club Architectural Change Indemnity Agreement and sign.
        <br>
        <br>
        
        
        <input type="checkbox" id="req5" value="value">
        <label for="req5" data-toggle="tooltip" data-placement="top">
            Contractor Agreement (<a href="/assets/ContractorAgreement.pdf" target="_blank">Form</a>)
        </label>
        <br>
        If the work is being done by a contractor, they must sign this form and agree to follow HOA rules.
        <br>
        <br>
        
        <input type="checkbox" id="req6" value="value">
        <label for="req6" data-toggle="tooltip" data-placement="top">
            Township Permit
        </label>
        <br>
        Attach a copy of any required <a href="http://www.ebrandywine.org/">township permits</a> if applicable.
        <br>
        <br>
        

        <input type="checkbox" id="req7" value="value">
        <label for="req7" data-toggle="tooltip" data-placement="top">
            Plan Showing All Dimensions
        </label>
        <br>
        Show all dimensions from the sub-base or footings of the proposed improvement up to the upper most portion of the proposed improvement - on decks this is footings to top of railing - on patios it is sub-base to top of sitting wall or surface of patio if there are no walls.
        <br>
        <br>
        <input type="checkbox" id="req8" value="value">
        <label for="req8" data-toggle="tooltip" data-placement="top">
            Side View or Sectional Plan
        </label>
        <br>
        Provide a side view elevation drawing that includes sub-base or footings (for patios and decks) and proposed design details.
        <br>
        <br>
        <input type="checkbox" id="req9" value="value">
        <label for="req9" data-toggle="tooltip" data-placement="top">
            Color Photos of Materials to be Used
        </label>
        <br>
        Include color photos of decking material, railings & spindles, fencing material, pavers, stonework and any other material where a color choice is available.
        <br>
        <br>
        <input type="checkbox" id="req10" value="value">
        <label for="req10" data-toggle="tooltip" data-placement="top">
            Certificate of Liability Insurance (<a href="/COIExample-anon.pdf" target="_blank">Example</a>)
        </label>
        <br>
        Have your contractor name the Homeowner (you) and Applecross Master Association as Additionally Insured.  The following language should be used in the 'description of operations' section: Homeowner's Name, Homeowner's Address, and Applecross Country Club Master are listed as additional insured.  If work is to be done yourself, the declarations page of your homeowner's insurance policy will take the place of this certificate.
        <br>
        <br>
        <input type="checkbox" id="req11" value="value">
        <label for="req11" data-toggle="tooltip" data-placement="top">
            Rules and regulations
        </label>
        <br>
        Make sure you have reviewed the applicable sections of the HOA rules and regulations.
        <br>
        <br>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-offset-3 col-xs-9">
        <input type="submit" value="Submit" class="btn btn-primary" onclick="return ValidateCheckboxes();" />
    </div>
</div>
<br />
<div class="form-group">
    <label class="control-label col-xs-3">
        Examples
    </label>
    <div class="col-xs-9">

        <!--
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Deck</a></li>
                <li><a href="#">Patio</a></li>
                <li><a href="#">Addition</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div>
            <br />
            -->
        

        If you have any comments, questions, or concerns please contact Josh Rozzi (<a href="mailto:josh.rozzi@fsresidential.com">josh.rozzi@fsresidential.com</a>)

        <br />
        <br />
        <br />

    </div>
</div>

}