@model HOA.Model.ViewModel.CreateSubmissionViewModel

@{
    ViewBag.Title = "New submission";
}

@using (Html.BeginForm())
{

@Html.AntiForgeryToken()

@if (!Html.ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> Please fix the listed errors and try submitting again.

        @Html.ValidationSummary()
    </div>
}

@Html.LabelFor(model => model.FirstName)<br />
@Html.TextBoxFor(model => model.FirstName)<br />
<br />
@Html.LabelFor(model => model.LastName)<br />
@Html.TextBoxFor(model => model.LastName)<br />
<br />
@Html.LabelFor(model => model.Address)<br />
@Html.TextBoxFor(model => model.Address)<br />
<br />
@Html.LabelFor(model => model.Email)<br />
@Html.TextBoxFor(model => model.Email)<br />
<br />
@Html.LabelFor(model => model.Description)<br />
@Html.TextBoxFor(model => model.Description)<br />
<br />

<br />
<br />
<input type="submit" value="Submit" />

}