@using HOA.Model
@using HOA.Model.ViewModel
@model EditSubmissionViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Edit Submission";
}


@using (Html.BeginForm("Edit", "Submission", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{

<h3>Edit</h3>

@Html.HiddenFor(model => model.SubmissionId)

@Html.AntiForgeryToken()

@if (!Html.ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> Please fix the listed errors and try submitting again.

        @Html.ValidationSummary()
    </div>
}

    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.FirstName)
        </label>
        <div class="col-xs-9">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @maxlength = "32" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.LastName)
        </label>
        <div class="col-xs-9">
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @maxlength = "32" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.Address)
        </label>
        <div class="col-xs-9">
            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @maxlength = "64" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.Email)
        </label>
        <div class="col-xs-9">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @maxlength = "64" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.Description)
        </label>
        <div class="col-xs-9">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @maxlength = "256" })
            <h5>e.g. Patio, Fence, Deck, etc.</h5>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            Extra File(s)
        </label>
        <div class="col-xs-9">
            <input type="file" name="Files" id="Files" multiple /> <br />
            Any originally missing files (optional)
        </div>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary" />

}