@using HOA.Model
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Submissions";
    ViewBag.Section = "Submissions";
}

@Html.ActionLink("Search", "Search")

<p>
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn btn-default @(Model.Filter == "Todo" ? "active" : "")" href="/Submission/List/Todo" role="button">Todo</a>
        
        @if(!User.IsInRole(RoleNames.BoardMember))
        { 
        <a class="btn btn btn-default @(Model.Filter == "Recent" ? "active" : "")" href="/Submission/List/Recent" role="button">Recent</a>
        <a class="btn btn btn-default @(Model.Filter == "All" ? "active" : "")" href="/Submission/List/All" role="button">All</a>
        }
        
        <a class="btn btn btn-default @(Model.Filter == "Open" ? "active" : "")" href="/Submission/List/Open" role="button">Open</a>
        <a class="btn btn btn-default @(Model.Filter == "Approved" ? "active" : "")" href="/Submission/List/Approved" role="button">Approved</a>
        <a class="btn btn btn-default @(Model.Filter == "Rejected" ? "active" : "")" href="/Submission/List/Rejected" role="button">Rejected</a>
    </div>
</p>

<div class="panel panel-default">

    <!-- Default panel contents -->
    <div class="panel-heading">Submissions</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Submitted</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Status</th>
                <th>Last Modified</th>
                <th>Time Open</th>
                <th>Action</th>
            </tr>
        </thead>

@if (Model.Submissions != null && Model.Submissions.Count > 0)
{
    @foreach (var submission in Model.Submissions)
    {
        <tr>
            <td>@submission.Code</td>
            <td>@submission.SubmissionDate.ToString("MM/dd/yyyy")</td>
            <td>@submission.FirstName</td>
            <td>@submission.LastName</td>
            <td>                

                @if (submission.Status == Status.Submitted)
                {
                    @:Submitted
                }
                else if (submission.Status == Status.ARBIncoming)
                {
                    @:Sent to ARB Chair
                }
                else if (submission.Status == Status.UnderReview)
                {
                    @:Being reviewed
                }
                else if (submission.Status == Status.ARBFinal)
                {
                    @:Tallying votes
                }
                else if (submission.Status == Status.ReviewComplete)
                {
                    @:Sent to HOA Liaison
                }
                else if (submission.Status == Status.PrepApproval)
                {
                    @:Preparing approval response
                }
                else if (submission.Status == Status.PrepConditionalApproval)
                {
                    @:Preparing conditional response
                }
                else if (submission.Status == Status.Approved)
                {
                    @:Approved
                }
                else if (submission.Status == Status.ConditionallyApproved)
                {
                    @:Conditionally Approved
                }
                else if (submission.Status == Status.Rejected)
                {
                    @:Rejected
                }
                else if (submission.Status == Status.MissingInformation)
                {
                    @:Missing Information
                }
                else if (submission.Status == Status.Retracted)
                {
                    @:Retracted
                }

            </td>
            <td>@submission.LastModified.ToString("MM/dd/yyyy")</td>
            <td>@submission.ElapsedTime.ToString("%d") day(s)</td>
            <td><a href="/Submission/View/@submission.Id">View</a></td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="5">No submissions</td>
    </tr>
}


    </table>
</div>

