@using HOA.Model
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Submissions";
    ViewBag.Section = "Incoming";
}

<p>
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn btn-default @if (Model.Filter == "Incoming") { @Html.Raw("active") }" href="/Submission/List/Incoming" role="button">Incoming</a>
        <a class="btn btn btn-default @if (Model.Filter == "All") { @Html.Raw("active") }" href="/Submission/List/All" role="button">All</a>
        <a class="btn btn btn-default @if (Model.Filter == "Approved") { @Html.Raw("active") }" href="/Submission/List/Approved" role="button">Approved</a>
        <a class="btn btn btn-default @if (Model.Filter == "Rejected") { @Html.Raw("active") }" href="/Submission/List/Rejected" role="button">Rejected</a>
    </div>
</p>

<div class="panel panel-default">

    

    <!-- Default panel contents -->
    <div class="panel-heading">Submissions</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Status</th>
                <th>Last Modified</th>
                <th>Action</th>
            </tr>
        </thead>

@if (Model.Submissions != null && Model.Submissions.Count > 0)
{
    @foreach (var submission in Model.Submissions)
    {
        <tr>
            <td>@submission.Code</td>
            <td>@submission.FirstName</td>
            <td>@submission.LastName</td>
            <td>                

                @if (submission.Status == Status.Submitted)
                {
                    @:Submitted
                }
                else if (submission.Status == Status.ARBIncoming)
                {
                    @:Sent to ARB Chair
                }
                else if (submission.Status == Status.UnderReview)
                {
                    @:Being reviewed
                }
                else if (submission.Status == Status.ARBFinal)
                {
                    @:Tallying votes
                }
                else if (submission.Status == Status.ReviewComplete)
                {
                    @:Sent to HOA Liaison
                }

            </td>
            <td>@submission.LastModified.ToString("MM/dd/yyyy")</td>
            <td><a href="/Submission/View/@submission.Id">View</a></td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="5">No open submissions</td>
    </tr>
}


    </table>
</div>

