@model HOA.Model.ViewModel.ResubmitViewModel

@{
    ViewBag.Title = "New submission";
}


@using (Html.BeginForm("Resubmit", "Submission", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{

    <h3>Resubmit</h3>

    @Html.AntiForgeryToken()

    @if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> Please fix the listed errors and try submitting again.

            @Html.ValidationSummary()
        </div>
    }

    @Html.HiddenFor(model => model.SubmissionId)
    <p>Please provide a description of the missing information and/or upload the required files.</p>
    <br />
    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.Description)
        </label>
        <div class="col-xs-9">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @maxlength = "256" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            File(s)
        </label>
        <div class="col-xs-9">            
            <input type="file" name="Files" id="Files" multiple />
            (pdf, jpg, gif, png only)
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>

}