@using HOA.Model
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Submissions";
}

<h3>Submission</h3>
Code: @Model.Submission.Code<br />
@Model.Submission.FirstName @Model.Submission.LastName<br />
@Model.Submission.Email <br />
@Model.Submission.Address<br />
<br />
@Model.Submission.Description<br />
<br />
<b>Status:</b> @Model.Submission.Status<br />

@if (Model.Submission.Status == Status.UnderReview)
{
    @Model.Submission.Reviews.Count
    @: review(s) submitted of @Model.ReviewerCount  <br />
    <br />
}

@if (Model.Submission.Status == Status.ARBFinal)
{
    @: <h3>Reviews:</h3>
    @foreach (var review in Model.Submission.Reviews)
    {
        @review.Reviewer.FullName@:, @review.Created.ToString("MM/dd/yyyy") <br />

        @if(review.Approved)
        {
            @: Approved
        }
        else
        {
            @:Rejected
        }
        <br />
        @review.Comments<br />

        <br />
    }
}

<br />

<b>Action</b><br />
@if((Model.Submission.Status == Status.Submitted && User.IsInRole(RoleNames.CommunityManager)) ||
    (Model.Submission.Status == Status.ARBIncoming && User.IsInRole(RoleNames.BoardChairman)))
{
    <a href="/Submission/CheckCompleteness/@Model.Submission.Id">Check app</a>
}

@if (Model.Submission.Status == Status.UnderReview)
{
    @if(!Model.Reviewed)
    {
        <a href="/Submission/Review/@Model.Submission.Id">Review</a>
    }
    else
    {
        @: Already reviewed
    }
}
