@using HOA.Model
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Submissions";
}

<div class="col-md-8">

    <h3>Submission</h3>

    <div class="panel panel-default">
        <div class="panel-heading">Details</div>
        <div class="panel-body">
        
        
            <strong>Code</strong>: @Model.Submission.Code<br />
            <br />
            @Model.Submission.FirstName @Model.Submission.LastName<br />
            @Model.Submission.Email <br />
            @Model.Submission.Address<br />
            <br />
            <span style="white-space: pre-line">
                @Model.Submission.Description
            </span>
            <br />

            <h5><strong>Files</strong></h5>
            <ul>
            @foreach(var file in Model.Submission.Files)
            {
                @:<li><a href="/Submission/File/@file.Id">@file.Name</a></li>
            }
            </ul>

            @if (Model.Submission.FinalApprovalFileName != null)
            {
                <br />
                <h5><strong>Final Response</strong></h5>
                @:<a href="/Submission/ResponseFile/@Model.Submission.Id">@Model.Submission.FinalApprovalFileName</a>
            }

            @if (Model.Submission.PrecedentSetting)
            {
                <p class="bg-warning">Marked as precedent setting</p>
            }

        </div>
    </div>

    <b>Status:</b> @Model.Submission.Status<br />

    @if (Model.Submission.Status == Status.UnderReview)
    {
        @Model.CurrentReviewCount
        @: review(s) submitted of @Model.ReviewerCount  <br />
        <br />
    }

    @if (Model.Submission.Reviews != null && Model.Submission.Reviews.Count > 0)
    {
        @: <h3>Reviews:</h3>
        @foreach (var review in Model.Submission.Reviews)
        {
            if (review.SubmissionRevision != Model.Submission.Revision)
            {
                continue;
            }

            @review.Reviewer.FullName@:, @review.Created.ToString("MM/dd/yyyy") <br />

            @if (review.Status == ReviewStatus.Approved)
            {
                @: Approved
            }
            else if(review.Status == ReviewStatus.Rejected)
            {
                @: Rejected
            }
            else if (review.Status == ReviewStatus.ConditionallyApproved)
            {
                @: Conditionally Approved
            }
            else if (review.Status == ReviewStatus.MissingInformation)
            {
                @: Missing Information
            }
            else if (review.Status == ReviewStatus.Abstain)
            {
                @: Abstain
            }
            <br />
            @review.Comments<br />

            <br />
        }
    }


    <h3>Action:</h3>
    @if (Model.Submission.Status == Status.Submitted && (User.IsInRole(RoleNames.CommunityManager)))
    {
        <a href="/Submission/QuickApprove/@Model.Submission.Id">Quick Approve</a><br />
        <br />
    }

    @if ((Model.Submission.Status == Status.Submitted && (User.IsInRole(RoleNames.CommunityManager) || User.IsInRole(RoleNames.Administrator))) ||
                    (Model.Submission.Status == Status.ARBIncoming && (User.IsInRole(RoleNames.BoardChairman) || User.IsInRole(RoleNames.Administrator))))
    {
        <a href="/Submission/CheckCompleteness/@Model.Submission.Id">Check for completeness</a><br />
        <br />
    }
    else if (Model.Submission.Status == Status.UnderReview && User.IsInRole(RoleNames.ARBBoardMember))
    {
        @if (!Model.Reviewed)
        {
            <a href="/Submission/Review/@Model.Submission.Id">Review</a>
        }
        else
        {
            @: Already reviewed
    }
    }
    else if (Model.Submission.Status == Status.ARBFinal && (User.IsInRole(RoleNames.BoardChairman) || User.IsInRole(RoleNames.Administrator)))
    {
        <a href="/Submission/TallyVotes/@Model.Submission.Id">Tally votes</a>
    }
    else if (Model.Submission.Status == Status.ReviewComplete && (User.IsInRole(RoleNames.HOALiaison) || User.IsInRole(RoleNames.Administrator)))
    {
        <a href="/Submission/FinalCheck/@Model.Submission.Id">Final check</a>
    }
    else if ((Model.Submission.Status == Status.PrepApproval || Model.Submission.Status == Status.PrepConditionalApproval) && User.IsInRole(RoleNames.CommunityManager))
    {
        <a href="/Submission/FinalResponse/@Model.Submission.Id">Homeowner final response</a>
    }
    else
    {
        @: None
    }

    @if ((Model.Submission.Status == Status.Submitted || Model.Submission.Status == Status.ARBIncoming) &&
                                    (User.IsInRole(RoleNames.CommunityManager) || User.IsInRole(RoleNames.Administrator)))
    {
        
        <a href="/Submission/Edit/@Model.Submission.Id" role="button">Edit details</a><br />
        <br />
    }

    @if (User.IsInRole(RoleNames.Administrator))
    {
        <br />
        <a href="/Submission/Delete/@Model.Submission.Id" onclick="if (!confirm('Are you sure?')) return false;">Delete</a>
    }

    
    @if ((Model.Submission.Status == Status.ARBIncoming || Model.Submission.Status == Status.UnderReview) &&
                (!Model.Submission.PrecedentSetting && User.IsInRole(RoleNames.BoardChairman)))
    {
        <br />
        @Html.ActionLink("Mark as precedent setting", "PrecedentSetting", new { Id = Model.Submission.Id })
    }


     @if (Model.Submission.Status == Status.UnderReview && User.IsInRole(RoleNames.BoardChairman))
     {
        <br />
        <a href="/Submission/SkipQuorum/@Model.Submission.Id" onclick="if (!confirm('Are you sure?')) return false;">Skip Quorum</a>
     }

    @if ((Model.Submission.Status == Status.Approved || Model.Submission.Status == Status.ConditionallyApproved)
        && User.IsInRole(RoleNames.CommunityManager) && Model.Submission.FinalApprovalBlob == null)
    {
        <br />
        <a href="/Submission/AddApprovalDoc/@Model.Submission.Id" role="button">Add approval document</a><br />
    }


</div>

<div class="col-md-4">
    <!-- Audit history -->
    @if (Model.Submission.Audits != null && Model.Submission.Audits.Count > 0)
    {
        @: <h3>History</h3>
        <div class="list-group">


        @foreach (var history in Model.Submission.Audits)
        {


            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">@history.User</h4>
                <p class="list-group-item-text">@history.DateTime.ToString("MM/dd/yyyy hh:mm tt").<br>
                @history.Action
                </p>
            </a>
            
        }


        </div>
    }


    

</div>
