@model HOA.Model.ViewModel.CreateTestViewModel

@{
    ViewBag.Title = "Sample data";
    ViewBag.Section = "TestData";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> Please fix the listed errors and try submitting again.

            @Html.ValidationSummary()
        </div>
    }

    @Html.LabelFor(model => model.Count)@: <br />
    @Html.TextBoxFor(model => model.Count, new { @class = "form-control" })<br />
    <br />
    @:Status:<br />


    @Html.DropDownListFor(m => m.Type, new SelectList(
        new[]
        {
            new { Value = "Submitted", Text = "Submitted" },
            new { Value = "ARBIncoming", Text = "ARB Incoming" },
            new { Value = "UnderReview", Text = "Under Review" },
            new { Value = "ARBFinal", Text = "ARB Final" },
            new { Value = "ReviewComplete", Text = "Review Complete" },
            new { Value = "PrepApproval", Text = "Preparing Approval" },
            new { Value = "Rejected", Text = "Rejected" },
            new { Value = "MissingInformation", Text = "Missing Information" },
            new { Value = "Approved", Text = "Approved" },
            new { Value = "ConditionallyApproved", Text = "Conditionally Approved" },
        },
        "Value",
        "Text",
        Model.Type
    ),
    new { @class = "form-control" })
    <br />
    <br />


    <input type="submit" value="Submit" class="btn btn-primary" />

}